hosts
hosts.bak
galicaster-update-playbook.yml
git-playbook.yml
tasks/git_install_main.yml
vars/git_install_main.yml
tasks/darkice-template-update.yml
darkice-playbook.yml
*.log
*.dump
tasks/galicaster/sync-fix.yml
