hosts*
galicaster-update-playbook.yml
git-playbook.yml
tasks/git_install_main.yml
vars/git_install_main.yml
tasks/darkice-template-update.yml
darkice-playbook.yml
*.log
*.dump
tasks/galicaster/sync-fix.yml
update-oc-host-playbook.yml
templates/ddp.py
templates/x11vnc.pass
tasks/galicaster/update-gc2x.yml
