[Desktop Entry] 
Type=Application 
Exec=/usr/bin/lecturesight 
Hidden=false 
NoDisplay=false 
X-GNOME-Autostart-enabled=true 
Name[en_ZA]=Lecturesight 
Name=Lecturesight 
Comment[en_ZA]=PTZ Tracking 
Comment=PTZ Tracking 
Terminal=false 
MimeType=video/x-raw-yuv 
Categories=Gstreamer;Python;GTK;Multistream;AudioVideo;VideoRecorder;VideoPlayer;Audio;Video 
StartupWMClass=Galicaster 
StartupNotify=true 

sudo /usr/bin/lecturesight 
